<div class="container d-none d-md-block">
	<div class ="row text-center pt-5 pb-3">
		<div class="col">
			<h1 class="display-4 d-inline fancy-text">Rebecca</h1>
			<p class="d-inline">&</p>
			<h1 class="display-4 d-inline fancy-text">Fasih</h1>
		</div>
	</div>
</div>
<div class="pb-md-3">
    <app-navigation></app-navigation>
</div>
<div class="container">
    <div class="row pb-3 pb-md-5">
        <div class="col">
            <img src="../../assets/gallery1.jpg" class="img-fluid" alt="Rebecca and Fasih">
        </div>
    </div>
    <div class="row pb-3 pb-md-5">
        <div class="col">
            <img src="../../assets/gallery2.jpg" class="img-fluid" alt="Rebecca and Fasih">
        </div>
    </div>
    <div class="row pb-3 pb-md-5">
        <div class="col">
            <img src="../../assets/gallery3.jpg" class="img-fluid" alt="Rebecca and Fasih">
        </div>
    </div>
    <div class="row pb-3 pb-md-5">
        <div class="col">
            <img src="../../assets/gallery4.jpg" class="img-fluid" alt="Rebecca and Fasih">
        </div>
    </div>
</div>
