<div class="container-fluid">
	<div class="row">
		<div class="text-center fancy-text">Celebrate With Us</div>
	</div>
	<div class="row align-items-center justify-content-center">
		<div class="col-lg-6 col-md-6 col-12 py-4">
				<form [formGroup]= "rsvpForm" (ngSubmit)="submit()">
					<div class="form-group py-2 body-text">
						<label class="pb-2" for="attendeesList">List the names of all attendees</label>
						<textarea formControlName="guestNames" class="form-control" id="attendeesList" rows="3"></textarea>
						<span class="text-danger" *ngIf="guestNames.invalid && (guestNames.dirty || guestNames.touched)">You must provide a list of names</span>
					</div>
					<div class="form-group pb-4 pt-2 body-text">
						<label class="pb-2" for="attendeeNumber">Number of attendees</label>
						<input formControlName="guestNumber" class="form-control" id="attendeeNumber"/>
						<span class="text-danger" *ngIf="guestNumber.invalid && (guestNumber.dirty || guestNumber.touched)">You must provide a whole number</span>
					</div>
					<button type="submit" class="button-text btn btn-outline-dark w-100">RSVP</button>
				</form>	
		</div>
	</div>
	<div *ngIf="rsvpSubmitted" class="row text-center">
		<div class="general-text">Thank you.Your RSVP has been submitted.</div>
	</div>
	<div *ngIf="errorOccured" class="row text-center">
		<div class="general-text text-danger">An unexpected error has occured. Please try again later.</div>
	</div>
</div>



