$spacer: 1rem;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 10)
);

$btn-border-radius:  0rem;
$btn-border-radius-sm:  0rem;
$btn-border-radius-lg: 0rem;
$btn-padding-x: $spacer * 5;
$btn-padding-y: $spacer * 0.75;
$btn-border-width:  0.1rem;


$navbar-toggler-border-radius: 0;
$navbar-toggler-focus-width: 0;

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import "~bootstrap/scss/bootstrap";

.fancy-text{
    font-family: 'Parisienne', cursive;
}