.overlay{
    position: fixed;
    display:block;
    width: 100%;
    height: 100%;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 99999;
    background-color: white;
}

.pink-spinner{
    color: #f7d3c1ec;
    width: 4rem;
    height: 4rem;
}
