<div class="row">
    <div class= "col-12 col-lg-4 py-lg-6 py-5 text-center order-lg-last">
        <h1 class="fancy-text display-5">Jordyn and Martin</h1>
        <p class="">ARE GETTING MARRIED</p>
        <p class="">Month 00, 2023</p>
        <div class="pt-4">
            <button class="text-center btn btn-outline-dark" routerLink="/rsvp">Don't forget to RSVP</button>
        </div>
    </div>
    <div class="col-12 col-lg-8 order-lg-first">
        <img src="../../assets/intro-image-color.jpg" class="img-fluid w-100" alt="Jordyn and Martin">
    </div>
</div>
