<!--Jordyn and Martin #1
    <div class="row">
    <div class= "col-12 col-lg-4 py-lg-6 py-5 text-center order-lg-last">
        <h1 class="fancy-text display-5">Jordyn and Martin</h1>
        <p class="">ARE GETTING MARRIED</p>
        <p class="">Month 00, 2023</p>
        <div class="pt-4">
            <button class="text-center btn btn-outline-dark" routerLink="/rsvp">Don't forget to RSVP</button>
        </div>
    </div>
    <div class="col-12 col-lg-8 order-lg-first">
        <img src="../../assets/intro-image-color.jpg" class="img-fluid w-100" alt="Jordyn and Martin">
    </div>
</div>-->

<!-- Becca and Fasih #1-->

<app-navigation></app-navigation>
<div class="row">
    <div class= "col-12 col-lg-4 py-lg-6 py-5 text-center order-lg-last">
        <h1 class="fancy-text display-5">Rebecca and Fasih</h1>
        <p class="">ARE GETTING MARRIED</p>
        <p class="">Month DD, 2023</p>
        <div class="pt-4">
            <button class="text-center btn btn-outline-dark" routerLink="/rsvp">Don't forget to RSVP</button>
        </div>
    </div>
    <div class="col-12 col-lg-8 order-lg-first">
        <img src="../../assets/intro-image-rf.jpg" class="w-100" alt="Rebecca and Fasih">
    </div>
</div>



<!--Becca and Fasih #2
<div class="bg-blush">
    <div class ="container py-5">
        <div class ="row pb-3">
            <div class="col text-center">
                <h1 class="display-5">REBECCA</h1>
                <h2 class="fancy-text">and</h2>
                <h1 class="display-5">FASIH</h1>
            </div>
        </div>
        <app-navigation></app-navigation>
        <div class="row pt-3">
            <div class="col">
                <img src="../../assets/intro-image-rf.jpg" class="w-100" alt="Rebecca and Fasih">
            </div>
        </div>
    </div>
</div>-->


<!-- Jordyn and Martin #2
    <div class ="container py-5">
    <div class ="row pb-3">
        <div class="col text-center">
            <h1 class="display-5">JORDYN</h1>
            <h2 class="fancy-text">and</h2>
            <h1 class="display-5">MARTIN</h1>
        </div>
    </div>
    <app-navigation></app-navigation>
    <div class="row pt-3">
        <div class="col">
            <img src="../../assets/intro-image-color.jpg" class="w-100" alt="Rebecca and Fasih">
        </div>
    </div>
</div>-->


