<nav class="navbar navbar-expand-md navbar-dark bg-transparent fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav general-text">
      <li class="nav-item px-2">
        <a class="nav-link" routerLink="/" fragment="rsvp">RSVP</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link">REGISTRY</a>
      </li>
    </ul>
  </div>
</nav>

