<nav class="navbar navbar-expand-md fixed-top" 
[ngClass]="{'navbar-light bg-white' : isScrolled, 'navbar-dark bg-transparent' : !isScrolled}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav general-text">
      <li class="nav-item px-3 py-2 px-md-2">
        <a class="nav-link" routerLink="/" fragment="rsvp">RSVP</a>
        <div class="spacer d-md-none bg-secondary"></div>
      </li>
      <li class="nav-item px-3 py-2 px-md-2">
        <a class="nav-link">REGISTRY</a>
      </li>
    </ul>
  </div>
</nav>

