$spacer: 1rem;
$white: rgb(255, 255, 255);
$pink: #fbf4ef;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 10)
);

$btn-border-radius:  0rem;
$btn-border-radius-sm:  0rem;
$btn-border-radius-lg: 0rem;
$btn-padding-x: $spacer * 5;
$btn-padding-y: $spacer * 0.75;
$btn-border-width:  0.1rem;


$navbar-toggler-border-radius: 0;
$navbar-toggler-focus-width: 0;

$table-th-font-weight: normal;

$navbar-dark-hover-color: $white;
$navbar-dark-active-color: $white;
$navbar-dark-color: $white;


@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
  font-family: 'Honeymoon Avenue';
  src: url('./assets/Honeymoon Avenue Script Demo.ttf');
}

.fancy-text{
  font-family: 'Honeymoon Avenue';
  font-weight: 500;
  font-size: 70px;
}
.button-text{
  font-family: 'Montserrat', sans-serif;
  letter-spacing:2px;
  font-size: 15px;
  font-weight: 500;
}
.body-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.header-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.spacer{
  border-top: 2px solid $pink;
  display: block;
  margin: 10px auto 20px 0;
}

.blush-pink{
  background-color: $pink;
}