$spacer: 1rem;
$blush-pink: rgb(228, 192, 192);
$white: rgb(255, 255, 255);
$light-pink: #f8f6f3;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 10)
);

$btn-border-radius:  0rem;
$btn-border-radius-sm:  0rem;
$btn-border-radius-lg: 0rem;
$btn-padding-x: $spacer * 5;
$btn-padding-y: $spacer * 0.75;
$btn-border-width:  0.1rem;


$navbar-toggler-border-radius: 0;
$navbar-toggler-focus-width: 0;

$table-th-font-weight: normal;

$navbar-dark-hover-color: $blush-pink;
$navbar-dark-active-color: $blush-pink;
$navbar-dark-color: $white;


@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playfair+Display:ital@1&family=Poppins:wght@600&display=swap');


.fancy-sub-text{
  font-family: 'Playfair Display', serif;
}
.fancy-text{
  font-family: 'Alex Brush', cursive;
}
.general-text{
  font-family: 'Poppins', sans-serif;
}

.pink-section{
  background-color: $light-pink;
}