.hero-image {
    background-image: 
    linear-gradient(to bottom, rgb(10, 10, 10, 0.1), rgba(255,0,0,0)), 
    url("../../assets/intro-image.jpg"); 
    min-height: 650px; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .hero-image-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .names-text{
    font-family: 'Honeymoon Avenue';
    font-size: 100px;
    font-weight: 500;
  }

  .date-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
  }




