<app-navigation></app-navigation>
<div class ="container-fluid hero-image text-white">
    <div class="hero-image-text">
        <div class="names-text">Rebecca Fasih</div>
        <div class="date-text">07.17.2023</div>
    </div>
</div>
<section class="py-5 mx-5" id="rsvp">
    <app-rsvp></app-rsvp>
</section>
<section class="blush-pink p-5" id="photos">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="pb-4">
                    <img class="img-fluid" src="assets/gallery1.jpg"/>
                </div>
                <div class="pb-4">
                    <img class="img-fluid" src="assets/gallery2.jpg"/>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="pb-4">
                    <img class="img-fluid" src="assets/gallery3.jpg"/>
                </div>
                <div class="pb-4">
                    <img class="img-fluid" src="assets/gallery4.jpg"/>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="pb-4">
                    <img class="img-fluid" src="assets/gallery5.jpg"/>
                </div>
                <div>
                    <img class="img-fluid" src="assets/gallery6.jpg"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 mx-5" id="hotels">
    <div class="container-fluid">
        <div class="row">
            <div class="text-center fancy-text">Where To Stay</div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 mt-5 ml-2 body-text">
                <div class="header-text">Ramada by Wyndham</div>
                <div class="spacer"></div>
                <div class="mt-2">Pool, AC, free breakfast, free parking, free wifi, and wheelchair accessible.</div>
                <div class="mt-3">Address: 6707 AB-53 #1, Ponoka, AB T4J 1K3</div>
                <div class="mt-2">Phone: (403) 704-1177</div>
            </div>
            <div class="col-12 col-md-3 mt-5 ml-2 body-text">
                <div class="header-text">Wolf Creek B & B</div>
                <div class="spacer"></div>
                <div class="mt-2">Address: 262030, Township Rd 422, AB T4J 1R3</div>
                <div class="mt-2">Phone: (403) 357-6686</div>
            </div>
            <div class="col-12 col-md-3 mt-5 ml-2 body-text">
                <div class="header-text">Red Deer Resort & Casino</div>
                <div class="spacer"></div>
                <div class="mt-2">
                    Approximatley a 50 min drive from the venue, on the way back to Calgary.
                </div>
                <div class="mt-3">Address: 3310 -50 Ave, Red Deer, AB T4N 3X9</div>
                <div class="mt-2">Phone: (403) 346-2091</div>
            </div>
            <div class="col-12 col-md-3 mt-5 ml-2 body-text">
                <div class="header-text">Radisson Hotel Red Deer</div>
                <div class="spacer"></div>
                <div class="mt-2">Address: 6500 67 St, Red Deer, AB T4P1A2</div>
                <div class="mt-2">Phone: (403) 342-6567</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 mt-5 ml-2 body-text">
                <div class="header-text">Canalta Hotel Rimbey</div>
                <div class="spacer"></div>
                <div class="mt-2">Address: 5702 43 St, Rimbey, AB T0C 2J0</div>
                <div class="mt-2">Phone: (403) 843-3808</div>
            </div>
            <div class="col-12 col-md-3 mt-5 ml-2 body-text">
                <div class="header-text">M7 Cabin</div>
                <div class="spacer"></div>
                <div class=""mt-3>Sleeps four people.</div>
                <div class="mt-3">Phone: (403) 704-5549</div>
            </div>
            <div class="col-12 col-md-3 mt-5 ml-2 body-text">
                <div class="header-text">Chesterwold Guest House</div>
                <div class="spacer"></div>
                <div class="mt-2">Sleeps four adults comfortably.</div>
                <div class="mt-3">Adress: 445010, Range Rd 275, Falun, AB T0C 1H0</div>
                <div class="mt-2">Phone: (403) 505-7854</div>
            </div>
            <div class="col-12 col-md-3 mt-5 ml-2 body-text">
                <div class="header-text">Creektop Campsite</div>
                <div class="spacer"></div>
                <div>
                    Located across the road from Pine and Pond and only offered to Pine and Pond guests.
                </div>
                <div class="mt-3">Email: creektopcamping@gmail.com</div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 mx-5" id="venue">
    <div class="cotainer-fluid align-items-center text-center">
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="img-fluid" src="assets/venue3.jpg"/>
            </div>
            <div class="col-12 col-md-6 pt-5">
                <div class="fancy-text mb-2">Venue</div>
                <div class="header-text mb-2">Pine and Pond</div>
                <div class="body-text">Box 10, Site 12, RR4</div>
                <div class="body-text mb-4">Township Rd 435A Falun, AB T0C 1H0</div>
            </div>
        </div>
    </div>
</section>




