<!-- Becca and Fasih #1

<app-navigation></app-navigation>
<div class="row">
    <div class= "col-12 col-lg-4 py-lg-6 py-5 text-center order-lg-last">
        <h1 class="fancy-text display-5">Rebecca and Fasih</h1>
        <p class="">ARE GETTING MARRIED</p>
        <p class="">Month DD, 2023</p>
        <div class="pt-4">
            <button class="text-center btn btn-outline-dark" routerLink="/rsvp">Don't forget to RSVP</button>
        </div>
    </div>
    <div class="col-12 col-lg-8 order-lg-first">
        <img src="../../assets/intro-image-rf.jpg" class="w-100" alt="Rebecca and Fasih">
    </div>
</div> -->



<!--Becca and Fasih #2-->
    <div class ="container">
        <div class="row">
            <div class="col-12 pb-md-3">
                <app-navigation></app-navigation>
            </div>
            <div class="col-12 pb-md-5">
                <img src="../../assets/intro-image-rf.jpg" class="img-fluid" alt="Rebecca and Fasih">
            </div>
            <div class="col-12 text-center order-md-first pt-5 pb-3">
                <h1 class="display-2 fancy-text">Rebecca</h1>
                <p class="pb-3">AND</p>
                <h1 class="display-2 fancy-text">Fasih</h1>
            </div>
        </div>
    </div>


