<app-navigation></app-navigation>
<div class ="container-fluid hero-image text-center text-white">
    <div class="sitetitle">
        <div class="fs-5 fancy-sub-text">The Wedding Celebration Of</div>
        <div class="display-1 fancy-text text-nowrap">Rebecca & Fasih</div>
    </div>
</div>
<section class="py-5" id="rsvp">
    <app-rsvp></app-rsvp>
</section>
<section class="blush-pink" id="photos">
    <div class="px-5 py-6 container-fluid">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="pb-4">
                    <img class="img-fluid" src="../../assets/gallery.jpg"/>
                </div>
                <div class="pb-4">
                    <img class="img-fluid" src="../../assets/gallery4.jpg"/>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="pb-4">
                    <img class="img-fluid" src="../../assets/gallery5.jpg"/>
                </div>
                <div class="pb-4">
                    <img class="img-fluid" src="../../assets/gallery1.jpg"/>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="pb-4">
                    <img class="img-fluid" src="../../assets/gallery9.jpg"/>
                </div>
                <div class="pb-4">
                    <img class="img-fluid" src="../../assets/gallery7.jpg"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="p-5" id="registry">
</section>



